<!-- <div class="row"> -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
            <div class="col-sm-5 form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" name="name" ngModel required>
            </div>
            <div class="col-sm-3 form-group">
                <label for="amount">Amount</label>
                <input 
                    type="number" 
                    name="amount" 
                    id="amount" 
                    class="form-control" 
                    ngModel required pattern="^[1-9]+[0-9]*$">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button 
                    class="btn btn-success" 
                    type="submit" 
                    [disabled]="!f.valid"
                >
                    {{editMode ? 'Update' : 'Add'}}
                </button>
                <button 
                    class="btn btn-danger mx-2" 
                    type="button" 
                    (click)="onDelete()"
                    [disabled]="!editMode"
                >
                    Delete
                </button>
                <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
            </div>
        </div>
    </form>
<!-- </div> -->
