<div class="row">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" style="max-width: 300px;">
</div>
<div class="row">
    <h2>{{recipe.name}}</h2>
</div>
<div class="row">
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Manage Recipe</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="onAddToShoppingList()" ngbDropdownItem>To Shopping List</button>
            <button ngbDropdownItem (click)="onEditRecipe()">Edit Recipe</button>
            <button ngbDropdownItem (click)="onDeleteRecipe()">Delete Recipe</button>
        </div>
    </div>
</div>
<div class="row">
    <p>{{recipe.description}}</p>
</div>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}} - {{ingredient.amount}}
        </li>
    </ul>
</div>