<div
    class="d-flex justify-content-between px-3 py-2"
    style="border: 1px solid #ccc;"
>
    <div>
        <a  style="cursor: pointer;"
            [routerLink]="[index]"
            routerLinkActive="recipe-item-active"
        >
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        </a>
        <p class="list-group-item-text mb-0">{{recipe.description}}</p>
    </div>
    <div>
        <img 
            [src]="recipe.imagePath" 
            alt="{{recipe.name}}" 
            class="img-responsive" 
            style="max-height: 50px;"
        >
    </div>
</div>

