<div class="row">
    <div class="col-md-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12 ml-3 mb-3">
                    <button
                        type="submit" 
                        class="btn btn-success mr-3"
                        [disabled]="!recipeForm.valid"
                    >
                        Save
                    </button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imagePath">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img [src]="recipeForm.value['imagePath']" alt="image" class="img-responsive" style="width: 100%;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            type="text" 
                            id="description" 
                            class="form-control" 
                            rows="6"
                            formControlName="description"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" formArrayName="ingredients">
                    <div 
                        class="row" 
                        [formGroupName]="i" 
                        *ngFor="let ingredientCtrl of getControls(); let i = index"
                    >
                        <div class="col-md-8 mb-2">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-md-2">
                            <input type="number" name="" id="" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button 
                                type="button" 
                                class="btn btn-success" 
                                (click)="onAddIngredient()"
                            >
                                Add Ingredient
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>