<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <p>The list</p>
        <div>
            <a 
                *ngFor="let ingredient of ingredients; let i = index"
                (click)="onLoadItemToForm(i)"
                class="px-2 px-5 d-block"
                style="border: 1px solid #ccc; cursor: pointer;"
            >
                {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </div>
    </div>
</div>
